@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<script src="https://kit.fontawesome.com/f33684e5cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Styles/common.css">
    <link rel="stylesheet" href="~/Styles/Admindashboard.css">
<body>
    <input type="checkbox" id="nav-toggle" >
    <div class="sidebar">
        <div class="sidebarbrand sidebar-brand">
            <h2><span class="fa fa-accusoft"><span>Admin</span> </span></h2>

            <div class="sidebar-menu">
                <ul id="sidebarmenu">
                    <li>
                        <a href="/Admindashboard.html" ><span class="fa fa-igloo"></span></span>
                            <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/AdminContestant.html" ><span class="fa fa-users"></span></span>
                            <span>AdminContestant</span></a>
                    </li>
                    <li>
                        <a href="/AdminVoter.html" ><span class="fa fa-clipboard-list"></span></span>
                            <span>Voters</span></a>
                    </li>
                    <li>
                        <a href="#" ><span class="fa fa-shopping-bag"></span></>
                            <span>Admin</span></a>
                    </li>
                    <li>
                        <a href="/Election.html" ><span class="fa fa-receipt"></span></span>
                            <span>Election</span></a>
                    </li>
                    <li>
                        <a href="/AdminAccount.html" ><span class="fa fa-clipboard-list"></span></span>
                            <span>Account</span></a>
                    </li>
                    <li>
                        <a href="/index.html" ><span class="fa fa-power-off"></span></span>
                            <span>LogOut</span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="main-content">
        <header>
            
        </header>

        <main>
            
        </main>
    </div>
    <script src="Scripts/Admindashboard.js"></script>
</body>