@{
    ViewData["Title"] = "Home Page";
}
	<link rel="stylesheet" href="~/Styles/About.css">
	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big">About US</p>

				<p class="text-small">
					Here you will get to know the team
					members of our company
				</p>
				<br>
				<p class="center"><a href="#Order" style="text-decoration:none;color:white;">
						aliquam ratione debitis!
						Below are the people who
						works in our company</a>
				</p>
				<div class="words">
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, voluptas atque deserunt, neque
						eveniet natus facilis doloremque voluptate quidem doloribus sapiente vitae a necessitatibus nemo
						debitis ea saepe eius eos, illo aliquam aperiam laborum quis reprehenderit esse? Ipsa ea
						delectus reiciendis inventore quos est laboriosam eos, porro recusandae suscipit corporis
						placeat necessitatibus optio dolor? Explicabo provident iure modi ea fugiat velit, reiciendis
						consequuntur impedit sequi commodi deserunt ipsam aliquid alias harum. Molestias odio unde
						quidem earum cum facere nobis tempora quae possimus rem! Animi numquam doloribus neque sed.
						Animi repellendus numquam maiores repellat cumque nihil laborum itaque 
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae facilis eius magni assumenda ut ea impedit doloribus. Rerum adipisci veniam totam voluptate ex rem maxime reiciendis maiores, explicabo nemo vitae deleniti mollitia provident quis nulla repudiandae odio quaerat eligendi dolor. 
					</p>
				</div>
			</div>
		</div>
	</section>
	